<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">  <!-- 울림 소개 페이지 -->
      <h2><b>울림</b>&nbsp;&mdash;&nbsp;Woolim</h2><br>
      <h5>책을 읽으면서 마음을 콕콕 찌르는 주옥 같은 문장들, 기억하고 계신가요?</h5>
      <h5>울림은 내가 감명 받은 문장을 게시하고, 다른 사람들이 올린 문장들에 대해 자유롭게 이야기 나누는 곳입니다.</h5>
      <h5>멋진 책을 읽은 나의 경험을 모두에게 공유하고, 눈에 띄는 문장들을 통해 새로운 독서 경험을 쌓는 계기도 되었으면 좋겠습니다.</h5><br>
      <h5>현재 회원가입과 기본적인 게시판 기능만 구현한 상태이며,</h5>
      <h5>멋쟁이사자처럼 5기 최종과제 제출 마감일(2017.8.31)까지 다음의 사항을 업데이트 할 예정입니다.</h5>
      <ul>
        <li>도서 DB 구축 & 글쓰기 페이지 내 도서 검색&middot;선택 기능</li>
        <li>'좋아요' 등 user의 reaction 기능 추가, 그에 맞는 글 정렬 기준 새롭게 개편</li>
        <li>도서 category 별로 영역 나눔</li>
        <li>디자인 개선</li>
      </ul><br>
      <h5>다른 건의사항이 있으신 분은 하단의 facebook 링크를 통해 연락해 주시면 적극 반영하겠습니다.</h5>
    </div>
  </div>
</div>