<div class="center jumbotron">
  <div class="container">
    <br><br><br><br><br><br><br>
    <h1>오늘의 독서, <br>울림을 공유하세요</h1><br>
    <%= link_to 'Sign up now', signup_path, class: "btn btn-success btn-lg btn-xlarge" %><br><br>
    <div class="jumbotron-login">
      <%= link_to 'Log in', login_path, class: "btn btn-success" %>
    </div>
  </div>
</div>