<div class="center jumbotron">
  <div class="container">
    <br><br><br>
    <h1>오늘의 독서, <br>울림을 공유하세요</h1>
    <br><br><br>
    <%= link_to 'Sign up now', signup_path, class: "btn btn-success btn-lg btn-xlarge" %>
  </div>
</div>