<div class="container">
  <footer class="footer">
    <small>
      Copyrignt &copy; <%= link_to 'Woolim', root_path %> by <a target="_blank" href="https://www.facebook.com/starkying">Kyumin Kim</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', pages_about_path %></li>
      </ul>
    </nav>
  </footer>
</div>